body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  body{
    background: linear-gradient(to right , rgb(232, 236, 236) ,rgb(224, 220, 221));
  }
  h4{
    text-align: center;
    padding: 1rem;
    font-family:sans-serif;
    margin: 0 auto;
    width: 80%;
    color: #a01638;
  }

  header{
    background-color: #a01638;
      min-height: 15vh;
      display: flex;
      position: relative;
  }



 .logo{
   width: 40%;
   min-height: 15vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .logo .img{
   border-radius: 50%;
   display: block;
   height: 80px;
   width: 80px;
   background-color: white;
 }
 .logo p{
   margin-right: 10px;
  color: #ffffff; 
font-size: 15px;
} 

.title{
  color: #ffffff;
  font-size: 30px;
  line-height: 15vh;
  text-transform: uppercase;
}

  button {
    background:#a01638 !important;
    display: inline-block;
    width: 250px;
     margin: 2rem;
    padding: .7rem 3rem;
  }
  .container {
    min-height: 55vh;
    padding: 20px;
    
  }

  form{
    padding: 1rem;
    background: #ccc;
min-height: 10vh;
   }
  .kindly{
    min-height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
    margin: auto;
  }
  a {
    display: inline-block;
    text-align: center;
    width: 250px;
    color: #ffffff;
    background:#a01638 !important;
    text-decoration: none;
    padding: .7rem 3rem;
     border-radius: 4px;
  }
      a:hover{
   color: white;
  text-decoration: none;
   background-color: rgb(47, 47, 223);
  }
 
  option{
   width: 100%;
  }
  .location{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  }
  input[type="checkbox"]{
   margin-left: 10px;
  }
  
  span{
    margin-left: 5px;
  }
  
  footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #000000;
    padding: 10px;
    min-height: 15vh;
    position: relative;
  }
  footer h4{
    color: white;
    font-size: 25px;
  }
  .lg-best-shop{
    position: relative;
    height: 100%;
    width: 50%;
    text-align: center;
  }
 
  .multibrands{
    position: relative;
    text-align: center;
    height: 100%;
    width: 50%;
  }



  .address{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .address {
    font-family: 'PT Sans', sans-serif;
margin: 2px 0;
cursor: pointer;
  }
  .address .name{
    text-align: start;
width: 50%;
  }

 

  .address > p:hover{
    color: aqua;
  }

  .address span{
    color: #a01638 !important;
  }

  .address{
            color: white;
  }
  .address :last-child{
    color: rgb(255, 255, 255);
  }

i{
  margin-left: 5px;
  color: rgb(255, 0, 85)  !important;
}

  @media only screen and (max-width: 775px){
  input[type="checkbox"]{
   margin-left: 10px;
   margin-bottom: 10px;
  }
  
  .location{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  }
  h4{
    font-size: 15px;
  }
  button{
    width: 100%;
    display: block;
    margin: 5px auto;
  }
  a{
    width: 100%;
    display: block;
        text-align: center;
  }

  
  footer{
    flex-direction: column;
    min-height: 60vh;
    justify-content: center;
  }
  .lg-best-shop{
    height: 50%;
    width: 100%;
  }

  .multibrands{
    height: 50%;
    width: 100%;
  }

  header .title{
    font-size: 15px;
  }

  .kindly{
    font-size: 16px;
  }
  




.address{
  margin: 0;
}

  } 



  
  